*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    font-family: 'Kdam Thmor Pro', sans-serif;
    -webkit-font-smoothing: antialiased !important;
}
#Creators{
    background:#300331;
   font-size: 25px;
    text-align: center;
    color:black;
}
#Creators:hover{
    color: #00c4cc;
  
}
#creatorTitle{
    font-size: 40px;
}
li{
    list-style: none;
}
header{
    width: 100%;
    height: 400px;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#530d63;

}
video{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
#GettingStarted{
 background: black;
 font-size: 50px;
    border-radius: 5px;
    height: 800px;
    font-family: 'Kdam Thmor Pro', sans-serif;
  color: #530d63;
    -webkit-font-smoothing: antialiased !important;

}
#GettingStarted:hover{
    color: #00c4cc;
}
a{
 text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: none;
    color: #00c4cc;
}
h1:hover{
    color: #00c4cc;
}
